<p>Ideas:</p>

<ul>
    <li>What's the most popular track?</li>
    <li>What's the fastest/slowest?</li>
    <li>Distribution of BPM</li>
    <li>What is the danceability of the current playlist?</li>
    <li>Is this track loud or quiet?</li>
    <li>
        Use a charting library (such as <a href="https://github.com/swimlane/ngx-charts">ngx-charts</a>) to visualise
        distribution of different audio features.
    </li>
    <li>Search for a playlist, or pick from a selection</li>
    <li>Sorting the list of tracks by a given attribute</li>
</ul>
