:host {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .playlist {
        display: grid;
        grid-template-rows: 240px calc(100% - 240px);
        grid-template-columns: 320px minmax(0, 1fr);
        max-height: 100%;
        gap: 32px;
        padding: 24px;
        overflow: hidden;

        header.playlist-header {
            display: flex;
            flex-direction: row;

            grid-column: 1 / 3;
            overflow: hidden;
            max-height: 100%;

            h1 {
                margin: 0;
            }

            img {
                display: block;
                min-height: 0;
                min-width: 0;
                flex-shrink: 1;
                object-fit: contain;
            }

            .playlist-details {
                padding: 24px;
                flex-grow: 1;
            }

            .search-box {
                display: flex;
                flex-direction: column;
                max-height: 100%;

                .search-text {
                    display: flex;

                    input {
                        flex-grow: 1;
                        border: 1px solid rgba(0,0,0,.12);
                    }
                }

                .mat-selection-list {
                    width: 300px;
                    overflow-y: scroll;
                    padding-top: 0;
                    border: 1px solid rgba(0,0,0,.12);
                }
            }
        }

        .playlist-col {
            display: flex;
            flex-direction: column;

            .playlist-col-content {
                flex: 1;
                max-height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 8px;
            }
        }
    }
}
