<mat-card>
    <mat-card-header>
        <img matCardAvatar [src]="track.album.image?.url" [alt]="track.album.name">
        <mat-card-title>{{ track.name }}</mat-card-title>
        <mat-card-subtitle>
            {{ track.artists[0] }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="highlightFeature && track.features">
        <span>{{ highlightFeature }}: {{ normalizedFeature }}%</span>
        <meter [min]="0" [max]="100" [value]="normalizedFeature"
        ></meter>
    </mat-card-content>
</mat-card>
